* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-container-main {
    display: block;
}

.navcontain-2 {
    color: black;
    margin-top: 6%;
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(22, 104, 210, 0.438);
    height: 70px;
    padding: 8px;
    border-radius: 10px;
}

.navcontain-2 a {
    width: 100%;
    background-color: white;
    border: 1px solid rgba(22, 104, 210, 0.804);
    color: rgba(22, 104, 210, 0.804);
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: 600;
    padding: 5px;
    border-radius: 20px;
    height: 36px;
    margin-top: 10px;
}

.navcontain-2 a:hover {
    color: white;
    background-color: rgba(22, 104, 210, 0.804);
    transition: 0.8s;
}

.nav-container {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
}

.nav-col {
    width: 100%;
    height: 70px;
    display: flex;
    box-shadow: 1px 1px 5px black;
    justify-content: space-around;
}

.nav-col-logodiv {
    width: 12%;
}

.nav-col-logo {
    width: 100%;
}

.nav-col-inputdiv {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-col-input {
    width: 60%;
    height: 40px;
    padding: 5px;
    padding-left: 5px;
    font-size: 20px;
    border: 1px solid rgba(22, 104, 210, 0.804);
    outline: none;
    border-radius: 10px;
    background-color: rgba(22, 104, 210, 0.02);
}

.nav-col-inputdiv i {
    position: absolute;
    font-size: 38px;
    left: 794px;
    border: 1px solid rgba(22, 104, 210, 0.804);
    background-color: rgba(22, 104, 210, 0.804);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.nav-col-icon {
    display: flex;
    justify-content: flex-end;
    width: 20%;
    /* border: 1px solid black; */
}

.nav-col-icon i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-size: 35px;
    color: rgba(22, 104, 210, 0.804);
    cursor: pointer;
}

.nav-col-icon button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    border: 1px solid rgba(0, 0, 0, 0.176);
    background-color: white;
    font-size: 35px;
    cursor: pointer;
    text-decoration: none;

}

.nav-col-icon i:hover {
    border-bottom: 3px solid rgba(22, 104, 210, 0.804);
    margin-bottom: 10px;
    transition: 1s;
}

#indexbtn {
    outline: none;
    border: none;
    background-color: white;
    width: 100%;
    cursor: pointer;
}

#footerbackimg {
    outline: none;
    border: none;
    background-color: rgba(22, 104, 210, 0.034);
    width: 100%;
    cursor: pointer;
}

/* ----------------------banner------------------- */

.banners {
    display: none;
}

.banners.active {
    display: block;
}

.baner-btn1 {
    position: absolute;
    top: 40%;
    left: 2%;
    outline: none;
    border: none;
    font-size: 60px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(22, 104, 210, 0.219);
}

.baner-btn2 {
    position: absolute;
    top: 40%;
    left: 95%;
    outline: none;
    border: none;
    font-size: 60px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(22, 104, 210, 0.219);

}

.baner-btn1:hover {
    width: 60px;
    color: white;
    background-color: rgba(22, 104, 210, 0.804);
}

.baner-btn2:hover {
    width: 60px;
    color: white;
    background-color: rgba(22, 104, 210, 0.804);
}

/* ----------------future product section--------------------- */
.ftr-container {
    /* margin-top: 20px; */
    width: 100%;
}

#like {
    position: absolute;
    margin-left: 270px;
    font-size: 30px;
    color: rgb(210, 22, 22);
    cursor: pointer;

}


#ftr-col {
    /* border: 1px solid yellow; */
    display: flex;
    width: 90%;
    margin-left: 10%;
    flex-wrap: wrap;
}

.ftr-category-item {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 26%;
    display: block;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 1px 1px 3px 1px black;
    border-radius: 20px;
}

.ftr-imgdiv {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.ftr-catdiv-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    border-radius: 20px;
    padding: 5px;
}

.ftr-catdiv-img:hover {
    padding: 1px;
    transition: 1s;
}

.ftr-catdiv-name {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(0, 0, 0, 0.848);
    padding: 2px;
    text-transform: uppercase;
    color: rgba(255, 0, 0, 0.815);
}

.ftr-catdiv-type {
    font-size: 14px;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(0, 0, 0, 0.848);
    padding: 2px;
}

.ftr-catdiv-price {
    font-size: 14px;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(0, 0, 0, 0.833);
    padding: 2px;
}

.ftr-catdiv-strprice {
    margin-left: 10px;
    font-size: 14px;
    text-transform: capitalize;
    text-decoration: line-through;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(0, 0, 0, 0.657);
    padding: 2px;
}

.ftr-catdiv-offprice {
    margin-left: 80px;
    font-size: 14px;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(253, 0, 0, 0.956);
    padding: 2px;
}

.ftr-btn {
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    outline: none;
    border: 1px solid rgb(210, 22, 22);
    color: white;
    background-color: rgb(210, 22, 22);
    border-radius: 8px;
    cursor: pointer;

}

.bt {
    outline: none;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
}

.addToCart {
    width: 50%;
    color: white;
    background-color: rgb(210, 22, 22);
    outline: none;
    font-size: 18px;
    padding: 2px;
    border: 1px solid rgb(210, 22, 22);
    border-radius: 30px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

.addToCart:active {
    background-color: white;
    color: rgb(210, 22, 22);
}

/* ----------------category css------ */
.cat-container {
    width: 100%;
}

.cat-row {
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}

.cat-col {
    width: 30%;
    padding: 20px;
    border: 1px solid black;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 20px;
}

.cat-col img {
    width: 80%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cat-col h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cat-col a {
    text-decoration: none;
}

.cat-col button {
    margin-left: 30%;
    margin-top: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: rgba(22, 104, 210, 0.804);
    background-color: white;
    border: 1px solid rgba(22, 104, 210, 0.804);
    cursor: pointer;
    border-radius: 15px;
}

.cat-col button:hover {
    background-color: rgba(22, 104, 210, 0.804);
    color: white;
}

/* ---------------------vetrinary--------------- */

.vet-container {
    width: 100%;
    margin-top: 80px;
}

.vet-row {
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}

.vet-col {
    width: 30%;
    padding: 20px;
    border: 1px solid black;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 20px;
}

.vet-col img {
    width: 80%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vet-col h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3px;
}

.vet-col h3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3px;
}

.vet-col a {
    text-decoration: none;
}

.vet-col button {
    margin-left: 30%;
    margin-top: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: rgba(22, 104, 210, 0.804);
    background-color: white;
    border: 1px solid rgba(22, 104, 210, 0.804);
    cursor: pointer;
    border-radius: 15px;
    padding: 3px;
}

.vet-col button:hover {
    background-color: rgba(22, 104, 210, 0.804);
    color: white;
}

/* --------------footer------------- */
.footer-cont {
    width: 100%;
    background-color: rgba(22, 104, 210, 0.116);
    color: rgba(22, 104, 210, 0.804);
    height: 300px;
}

.footer-row {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.footer-col {
    width: 100%;
    margin-top: 30px;
    display: block;
    text-transform: capitalize;
}

.footer-col h1 {
    font-size: 26px;
    padding: 5px;
}

.footer-col a {
    text-decoration: none;
    color: rgba(13, 14, 15, 0.973);
    padding: 5px;

}

.footer-col-social i {
    font-size: 40px;
}

.footer-copywrite h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 26px;
    color: rgba(22, 104, 210, 0.804);
    background-color: rgba(22, 104, 210, 0.116);
    padding: 10px;
}
/* ---------------------search css--------------------- */
.scr-row{
    width: 20%;
    display: block;
    border: 1px solid rgba(22, 104, 210, 0.804);
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 10px;
    
    /* height: 400px; */

}
.scr-category-item{
    width: 20%;
    display: block;
    border: 1px solid rgba(112, 16, 16, 0.473);
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 10px;
 
}
.scr-category-item:hover {
    box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.459);
}

.scr-product-img {
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.scr-product-img img {
    width: 70%;
    height: 200px;
    padding: 10px;
    border-radius: 10px;
}

.scr-product-name {
    width: 100%;

}

.scr-product-name h1 {
    width: 98%;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(210, 22, 22, 0.966);
    font-size: 22px;
    padding: 5px;
    text-transform: capitalize;
}

.scr-product-price {
    width: 100%;
    margin-top: 3px;
}
.scr-product-price h1 {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(11, 99, 3, 0.966);
    font-size: 20px;
    padding: 5px;
}
/* --------------product page css----------- */
.product-head-div{
    margin-top: 10px;
}
.product-head{
    width: 95%;
    height: 40px;
    padding: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-align: center;
    margin: auto;
    border: 1px solid rgba(22, 104, 210, 0.804);
    color: white;
    background-color: rgba(22, 104, 210, 0.804);
    border-radius: 6px;
    font-size: 28px;
    text-transform: uppercase;
}

.product-container {
    width: 100%;
    margin-top: 10px;
}

.product-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.product-col {
    width: 20%;
    display: block;
    border: 1px solid rgba(112, 16, 16, 0.473);
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    /* height: 400px; */


}

.product-col:hover {
    box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.459);
}

.product-img {
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img img {
    width: 70%;
    height: 200px;
    padding: 10px;
    border-radius: 10px;
    /* border: 1px solid rgba(0, 0, 0, 0.514); */
    /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.267); */
    margin-top: 10px;
}
.product-img img:hover{
    /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.712); */
    padding: 3px;
    transition: 0.5s;
    }


.product-name {
    width: 100%;

}

.product-name h1 {
    width: 98%;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(210, 22, 22, 0.966);
    font-size: 22px;
    padding: 5px;
    text-transform: capitalize;
}

.product-price {
    width: 100%;
    margin-top: 3px;
}

.product-quantity {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
}

.product-quantity-btn1 {
    color: white;
    background-color: orange;
    outline: none;
    border: 1px solid orange;
    font-size: 20px;
    width: 12%;
    /* padding: 5px; */
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    height: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.product-quantity-inp {
    width: 14%;
    height: 18px;
    border: 1px solid black;
    outline: none;
    font-size: 18px;
    text-align: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-price h1 {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(11, 99, 3, 0.966);
    font-size: 20px;
    padding: 5px;
}

.addtocart {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 8px;
    margin-bottom: 20px;
}

.addtocart .addcart-viewbtn {
    outline: none;
    color: rgb(255, 255, 255);
    border: 1px solid rgba(22, 104, 210, 0.804);
    background-color: rgba(22, 104, 210, 0.804);
    width: 40%;
    font-size: 20px;
    padding: 3px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

.addtocart .add-to-cart-btn {
    outline: none;
    color: rgb(0, 0, 0);
    border: 1px solid rgba(22, 104, 210, 0.804);
    background-color: rgba(255, 255, 255, 0.804);
    width: 40%;
    font-size: 16px;
    padding: 3px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

.addtocart .add-to-cart-btn i {
    font-size: 18px;
}

.add-to-cart-btn:active {

    background-color: rgba(22, 104, 210, 0.247);
}
.addtocartvalue{
    width: 30px;
    height: 25px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    position: absolute;
    left: 88%;
    top: 4px;
    
}

/* -----------cart------------- */
.cart-carthead {
    width: 95%;
    height: 40px;
    padding: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-align: center;
    margin: auto;
    border: 1px solid rgba(22, 104, 210, 0.804);
    color: white;
    background-color: rgba(22, 104, 210, 0.804);
    border-radius: 6px;
    font-size: 28px;
    text-transform: uppercase;

}

.cart-col {
    margin-top: 20px;
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgba(22, 104, 210, 0.804);
    border-radius: 8px;
    padding: 10px;
    margin-top: 20px;


}

.cart-col-innerdiv {
    display: block;
    border: 1px solid rgba(22, 104, 210, 0.804);
    box-shadow: 1px 1px 3px rgba(22, 104, 210, 0.804);
    width: 24%;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    position: relative;

}

.cart-imagediv {
    width: 100%;

}

.cart-imagediv-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cart-imagediv img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    /* border: 1px solid rgba(22, 104, 210, 0.804); */
    border-radius: 10px;
    padding: 5px;
}

.cart-imagediv h3 {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(210, 22, 22, 0.966);
    font-size: 20px;
    padding: 5px;

}

.cart-imagediv p {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(11, 99, 3, 0.966);
    font-size: 20px;
    padding: 5px;
    font-weight: 600;
}

.quantity-control {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin-bottom: 24px;
}

.decrease-btn,
.increase-btn {
    color: white;
    background-color: orange;
    outline: none;
    border: 1px solid orange;
    font-size: 20px;
    width: 12%;
    /* padding: 5px; */
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    height: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.cart-input-value {
    width: 14%;
    height: 18px;
    border: 1px solid black;
    outline: none;
    font-size: 18px;
    text-align: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove-btn {
    position: absolute;
    top: 5px;
    left: 89%;
    color: white;
    background-color: rgba(210, 22, 22, 0.966);
    outline: none;
    border: 1px solid rgba(210, 22, 22, 0.966);
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    padding: 3px;
}

.cart-total {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    margin-left: 37%;
    background-color: rgba(210, 22, 22, 0.986);
    color: white;
    position: absolute;
    top: 92%;
    left: 22%;
    text-transform: capitalize;
    font-size: 16px;
    height: 20px;
    border-radius: 6px;
}
.total{
    width: 25%;
    margin-left: 40%;
    color: white;
    background-color:  rgba(6, 90, 201, 0.925);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    /* border: 1px solid black; */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.986);
}
.cart-carthead-btn{
    width: 15%;
    margin-left: 46%;
    color: white;
    background-color:  rgb(143, 13, 13);
    border: 1px solid rgb(143, 13, 13);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.986);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    outline: none;
    cursor: pointer;
}
.cart-carthead-btn:hover{
    color: rgb(143, 13, 13) ;
    background-color: white;
    transition: 0.5s;
}
/* ----------------search display section--------------------- */
.scr-container {
    margin-top: 10px;
    width: 100%;
}

.scr-row {
    width: 95%;
    margin-left: 60px;
    /* border: 1px solid black; */
}

#search-results {
    /* border: 1px solid yellow; */
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}



.scr-catdiv-img {
    width: 100%;
}

.scr-catdiv-name {
    font-size: 14px;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(0, 0, 0, 0.848);
    padding: 2px;
}

.scr-catdiv-type {
    font-size: 14px;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(0, 0, 0, 0.848);
    padding: 2px;
}

.scr-catdiv-price {
    font-size: 14px;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(0, 0, 0, 0.833);
    padding: 2px;
}

.scr-catdiv-strprice {
    margin-left: 10px;
    font-size: 14px;
    text-transform: capitalize;
    text-decoration: line-through;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(0, 0, 0, 0.657);
    padding: 2px;
}

.scr-catdiv-offprice {
    margin-left: 80px;
    font-size: 14px;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(253, 0, 0, 0.956);
    padding: 2px;
}

.scr-result {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 30px;
}

/* -----------------login form------------------ */
.form-container{
    width: 50%;
    margin: auto;
    /* border: 1px solid black; */
    background-color: white;
    /* background-color:   rgba(6, 90, 201, 0.925); */
}
.formsection{
    width: 100%;
    margin-top: 50px;
}

.cancelform{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}
.cancelform button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30px;
    margin-top: 5px;
    margin-right: 5px;
    color: white;
    font-size: 26px;
    background-color: maroon;
    outline: none;
    border: 1px solid maroon;
}
.form-1{
position: relative;
}
.form-2{
    position: absolute;
    top: -10px;
    left: 40px;
}
.form-imgdiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-imgdiv img{
    width: 15%;
}
.form-selectbtns{
    width: 98%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-end;
    margin-top: 5%;
}
.form-selectbtns-1{
    width: 90px;
    color: white;
    background-color :rgba(6, 90, 201, 0.925);
    text-transform: uppercase;
    font-size: 24px;
    outline: none;
    /* border: 1px solid rgba(6, 90, 201, 0.925); */
    border-radius: 5px;
    margin-left: 20px;
    padding: 3px;
    cursor: pointer;
    /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.849); */
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.849);
    border:2px solid black;
}
.form-selectbtns-2{
    width: 140px;
    color: white;
    background-color :rgb(143, 13, 13);
    text-transform: uppercase;
    font-size: 24px;
    outline: none;
    border: 1px solid rgb(143, 13, 13);
    border-radius: 5px;
    margin-left: 20px;
    padding: 3px;
    cursor: pointer;
    /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.849); */
    
}
.log-form-details{
    /* margin-top: 10px; */
    border: 1px solid rgba(6, 90, 201, 0.925);
    width: 80%;
    margin-left: 10%;
    margin-bottom: 30px;
    position: relative;
    display: block;
    
}
.log-form-details-head{
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: 600;
    display: flex;
    justify-content: center;text-align: center;
    text-transform: uppercase;
    background-color: rgba(6, 90, 201, 0.925) ;
    color: white;
}
.log-nameinput{
    width: 70%;
    margin-left: 15%;
    font-size: 22px;
    height: 50px;
    padding-left: 10px;
    padding-top: 10px;
    outline: none;
    border: 1px solid  rgba(6, 90, 201, 0.925);
    border-radius: 8px;
}

.log-passinput{
    margin-top: 15px;
    width: 70%;
    margin-left: 15%;
    font-size: 22px;
    height: 50px;
    padding-left: 10px;
    padding-top: 10px;
    outline: none;
    border: 1px solid  rgba(6, 90, 201, 0.925);
    border-radius: 8px;
   
}
.log-loginbtn{
    margin-top: 30px;
    width: 20%;
    color: white;
    background-color :rgba(6, 90, 201, 0.925);
    text-transform: uppercase;
    font-size: 24px;
    outline: none;
    border: 1px solid rgba(6, 90, 201, 0.925);
    border-radius: 5px;
    margin-left: 40%;
    padding: 3px;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.849);
   
}
.log-loginbtn:hover{
    box-shadow: 2px 1px 1px 3px rgba(0, 0, 0, 0.849);

}

.log-namelabel{
    position: absolute;
    color: black;
    background-color: white;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 54px;
    left: 90px;
    padding: 5px;
}
.log-passlabel{
    position: absolute;
    color: black;
    background-color: white;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 138px;
    left: 90px;
    padding: 5px;
}

.reg-form-details{
    margin-top: 10px;
    border: 1px solid  rgb(143, 13, 13);
    width: 190%;
    margin-left: 10%;
    margin-bottom: 30px;
    position: relative;
    display: none;
    transition: 1s;
}
.reg-form-details-head{
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: 600;
    display: flex;
    justify-content: center;text-align: center;
    text-transform: uppercase;
    background-color:  rgb(143, 13, 13) ;
    color: white;
}
.reg-nameinput{
    width: 70%;
    margin-left: 15%;
    font-size: 22px;
    height: 50px;
    padding-left: 10px;
    padding-top: 10px;
    outline: none;
    border: 1px solid   rgb(143, 13, 13);
    border-radius: 8px;
}

.reg-passinput{
    margin-top: 15px;
    width: 70%;
    margin-left: 15%;
    font-size: 22px;
    height: 50px;
    padding-left: 10px;
    padding-top: 10px;
    outline: none;
    border: 1px solid rgb(143, 13, 13);
    border-radius: 8px;
   
}
.reg-numinput{
    margin-top: 15px;
    width: 70%;
    margin-left: 15%;
    font-size: 22px;
    height: 50px;
    padding-left: 10px;
    padding-top: 10px;
    outline: none;
    border: 1px solid rgb(143, 13, 13);
    border-radius: 8px;

}
.reg-loginbtn{
    margin-top: 30px;
    width: 25%;
    color: white;
    background-color : rgb(143, 13, 13);
    text-transform: uppercase;
    font-size: 24px;
    outline: none;
    border: 1px solid  rgb(143, 13, 13);
    border-radius: 5px;
    margin-left: 40%;
    padding: 3px;
    cursor: pointer;
   
}
.reg-loginbtn:hover{
    box-shadow: 2px 1px 1px 3px rgba(0, 0, 0, 0.849);
}

.reg-namelabel{
    position: absolute;
    color: black;
    background-color: white;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 55px;
    left: 90px;
    padding: 5px;
}
.reg-passlabel{
    position: absolute;
    color: black;
    background-color: white;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 138px;
    left: 90px;
    padding: 5px;
}
.reg-numlabel{
    position: absolute;
    color: black;
    background-color: white;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 221px;
    left: 90px;
    padding: 5px;
}

#search-section{
    display: none;
}


















